@font-face {
    font-family: Roboto;
    src: url(../Style/Fonts/Roboto/Roboto-Regular.ttf);
  }

@font-face {
    font-family: RobotoThin;
    src: url(../Style/Fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(../Style/Fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Zapf;
    src: url(../Style/Fonts/Zapf/zapf-calligraphic-8019c26d.ttf);
}

.nav-link{
    color: #f25f15 !important; 
    margin-right: 1em;

}

#body hr {
    padding: 0;
    margin: 0;
    opacity: 1;
    border: 2px;
    height: 3px;
    background: #fff;
    background-image: linear-gradient(to right, #fff, #f25f15, #fff); 
    margin-bottom: 30px; 
}

nav {
    width: 70%;
    margin: auto;
}

#nav .nav-link {
    font-family: RobotoBold;
    text-transform: uppercase;
}



button {
    font-family: RobotoBold;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    color:rgb(3,151,162);
    display: inline-block;
    background-color: transparent;
    margin: 0 5px 10px 0;
    text-align: center;
    padding-top: 8px;

}

a{
    color: #f25f15 !important; 
}

#charts .row {
    margin-bottom: 30px;
}

#charts img {
    padding-top: 70px;
    height: 340px;
}
