@font-face {
    font-family: Roboto;
    src: url(../Style/Fonts/Roboto/Roboto-Regular.ttf);
  }

@font-face {
    font-family: RobotoThin;
    src: url(../Style/Fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(../Style/Fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: Zapf;
    src: url(../Style/Fonts/Zapf/zapf-calligraphic-8019c26d.ttf);
}

.container {
    display: block;
    width: 70%;
    font-family: Roboto;
    margin: auto;
    padding: 0;
}

body {
    background-color: rgb(20,17,17);
}

#bootstrap_override hr, #body hr {
    opacity: 1;
    padding: 0;
    margin: 0 0 30px 0;
    border: 0;
    height: 3px;
    background: #fff;
    background-image: linear-gradient(to right, rgb(20,17,17), #0397a2, rgb(20,17,17)); 
}

#body > hr {
    background: #fff;
    background-image: linear-gradient(to right, rgb(20,17,17), #F26D1C, rgb(20,17,17)); 
}

header {
    padding: 30px 15%;
    overflow: hidden;
    background-image: url(../Style/Images/test.png);
    background-size: cover;
    
}

#logo {
    display: block;
    width: 300px;
    float: right;
}

.helloName {
    font-weight: 600;
    font-family: RobotoThin;
    text-transform: uppercase;
    color: rgb(3,151,162);
    text-align: center;
    margin: 0 0 30px 0;
}

.helloName span {
    font-family: Zapf;
    text-transform: capitalize;
    color: #F26D1C;
}

/* ------------------------------------------------ RECOVERY TRACKER ----------------------------------------------*/

.body_background {
    display: block;
    background-image: linear-gradient(to bottom,#0397A2, 15%,rgb(20,17,17)); 
    border-radius: 5px;
    padding: 20px 5px;
    
    font-family: RobotoBold;
    color: white;
    text-transform: uppercase;
}

#submitFile, .viewLastSession {
    display: block;
    border: none;
    border-radius: 15px;
    margin: 20px auto 0 auto;
    padding: 2px 10px;
    cursor: pointer;

    font-family: RobotoBold;
    color: white;
    font-size: 18px;
    text-transform: uppercase;

    background-color: #F26D1C;
}

/* ------------------------------------------------- CLIENTS LIST --------------------------------------------------- */

.clientsList {
    display: block;
    margin-bottom: 30px;
    
}

#bootstrap_override .clientsList h1 {
    font-family: Roboto;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color:#0397a2; 
}

#bootstrap_override .clientsList h1 span {
    color:#F26D1C; 
}


.clientsList hr {
    margin-bottom: 10px;
}

.clientsList p {
    margin: 0;
    margin-bottom: 5px;
    font-family: RobotoBold;
    text-transform: uppercase;
    color: #0397A2;
}


.clientsList > P:not(:first-child) {
    padding: 10px 5px;
    border: 1px solid black;
    margin: 0;
}




